<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
  </title>
  <!-- Nucleo Icons -->

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/boot.css">
  <link rel="stylesheet" href="/stylesheets/seller.css">

</head>

<body class=" ">
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Seller</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Seller</h6>
        </nav>
        <!-- <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <input type="text" class="form-control" placeholder="Type here">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>          
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- main seller -->
    
    <div class="seller_contain"> 
      <div class="seller_left">
        <div class="seller_manage">
          <div class="seller_manage-main">
            <div class="seller_ava">
            </div>
              <div class="ava_user_box">
                <i class="fa-solid fa-user ava-user"></i>
              </div>
            <div class="seller_join">
              <p>Admin</p>
              <span>Joined July 16,2022 </span>
            </div>
          </div>
          <ul class="seller_function">
            <li class="seller_function-items">ADD CATEGORIES</li>

          </ul>
          </div>
      </div>
      <div class="seller_right">
    
        <!-- Add product -->
        <div class="seller_tab seller__addPr block ">
          <div class="seller_addPr-main">
            <div class="addPr_head">
              <h4 class="">Add categories</h4>
            </div>

            <form action="/add-category" method="POST">
            <ul class="seller_addPr-list">
              <li class="seller_product-items">
                <p for="">categories Name</p>
                <input type="text" placeholder="Enter category Name" 
                name ="name" />
              </li>
           
              <li class="seller_product-items">
                <p for="">categories Description</p>
                <input type="text" placeholder="Enter product description " 
                name="description" />
              </li>
              
              <button class="addPro_btn">Add Category</button>
            </ul>
            </form>
          </div>
        </div>

        <!-- End Add product -->
        
      </div> 

    </div> 
    
    <!-- Order list-->
    
  </main>

     
  <!--   Core JS Files   -->

  <script>
    var sellerLists = document.querySelectorAll('.seller_function-items');
    var sellerTabPanes = document.querySelectorAll('.seller_tab');
    sellerLists.forEach((sellerList, index) => {
        var tabPane = sellerTabPanes[index];
        sellerList.addEventListener('click', () => {
            var sellerActive = document.querySelector(
                '.seller_function-items.active'
            );

            var tabPaneActive = document.querySelector('.seller_tab.block');
            tabPaneActive.classList.remove('block');
            tabPane.classList.add('block');
            sellerActive.classList.remove('active');
            sellerList.classList.add('active');
            console.log(sellerTabPanes);
        });
    });
  </script>
 
</body>

</html>